TYPE=service_account
PROJECT_ID=your-project-id
PRIVATE_KEY_ID=your-private-key-id
PRIVATE_KEY=your-private-key
CLIENT_EMAIL=your-client-email
CLIENT_ID=your-client-id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_CERT_URL=your-client-cert-url
UNIVERSAL_DOMAIN=googleapis.com